<!--  ===========Top Bar=======-->
<div id="topbar" class="d-flex align-items-center fixed-top">
      <div class="container d-flex justify-content-center justify-content-md-between">

                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-phone d-flex align-items-center"><span>(+217) 28217205</span></i>
                    <i class="bi bi-clock d-flex align-items-center"><span>Mon-San:10PM-23Am</span></i>


                </div>

      </div>

</div>
<!--=============Navbar=========-->
<header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-lg-between">
               <h1 class="logo me-auto me-lg-0" style="font-family: Playfair Display,serif;">
                        <a href="index.hml" style="mix-blend-mode: color-burn;"><i class="fa fa-utensils me-3"></i>Ben Mahmoud</a>
               </h1>

               <!--=====if you have logo for this restaurant ====-->

               <!-- <a href="index.html"class="logo me-auto me-lg-0"> -->
                    <!-- <img src="url"> -->
               <!-- </a> -->

                <nav id="Navbar" class="navbar order-last order-lg-0">
                     <ul>
                            <li><a class="nav-link scrollto active" href="#about">Accueil</a></li>
                            <li><a class="nav-link scrollto active" href="#about">About</a></li>
                            <li><a class="nav-link scrollto active" href="#menu">Menu</a></li>
                            <li><a class="nav-link scrollto active" href="#gallery">Gallery</a></li>
                            <li><a class="nav-link scrollto active" href="#contact">Contact</a></li>


                     </ul>

                </nav>
                <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex" >Book a table</a>
    

        </div>


</header>
