<!---------------------======premier section =======-->
<div id="hero" class="d-flex align-items-center">

     <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
             
                     
                    
                        <div class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center  text-center ">
                       
                          <h1 style="font-family: 'Courier New', Courier, monospace;">Enjoy Your Healthy Delicious Food</h1>
                            <h2>Delivering For more Than 18 years!</h2>
                           
                           
                           

                          <div class="btns"  >
                                  <a href="" class="btn-menu animated fadeInup scrolltto">Our Menu</a>
                                  <a href="" class="btn-book animated fadeInup scrolltto">Book a Table</a>
                          

                                  
          

                          </div>
                       
                      


                    </div>
                 



                   


                      </div>
                      <div class="col-lg-4 col-md-12 text-center text-lg-end overflow-hidden">
                        <img  class="img-fluid rotate" src="assets/img/specials-1.png" alt="">
                    </div>

                  
               </div>
<!-----=====End Hero space======-->
<!--------=====Main============-->
<main id="main">


    <!-------========About Section=========-->
    <section id="about" class="about">
        <div class="container" >
          <div class="section-title">
            <h2>about Us</h2>
            <p>LEARN MORE ABOUT US</p>
          </div>

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="about-img">
                        <img src="assets/img/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>
                        Restaurently Fast Food, located in the vibrant southern region of Medenine, Tunisia</h3>
                    <p class="fst-italic">
                            specializes in offering a delectable assortment of mouthwatering delicacies. From perfectly rolled malfouf to flavorful sandwiches and expertly prepared chapati, 
                        Restaurently is your go-to destination for a quick and satisfying culinary experience.
                    </p>
                    <ul>
                      <li><i class="bi bi-check-circle"></i>Our culinary artisans take pride in the art of crafting each dish, ensuring that every bite you take is a burst of authentic flavors. Our malfouf, meticulously wrapped with care and expertise, delivers a fusion of textures and tastes that evoke the rich traditions of Tunisia.
                    </li>
                    Our sandwiches, a harmonious blend of premium ingredients, promise to tantalize your taste buds with each savory bite. Whether you're a fan of classic combinations or crave innovative twists, our sandwich offerings cater to a variety of preferences.
                
                      <li>
                        <i class="bi bi-check-circle"></i>
                        For those seeking a taste of the exotic, our chapati is a testament to our commitment to quality. Soft, warm, and infused with the essence of our carefully chosen ingredients, our chapati is the perfect accompaniment to your meal, providing a delightful canvas for the flavors to shine.
                    </li>
                    
                    </ul>
                   
                  </div>

            </div>
        </div>

    </section>
    <!------======End About section======-->


    <!-------==============why Use Our Resturent====-->
    <section id="why-us" class="why-us">
        <div class="container" >
  
          <div class="section-title">
            <h2>Why Us</h2>
            <p>Why Choose Our Restaurant</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4">
              <div class="boxe">
                <span style="    font-weight: 300;">First</span>
                <h4>Exceptional Culinary Delights</h4>
                <p>At our restaurant, we pride ourselves on serving exquisite dishes that are a true celebration of flavors. 
                  Our skilled chefs meticulously craft each dish, using only the finest and freshest ingredients. From the first bite to the last, every dish is a culinary masterpiece that will tantalize your taste buds and leave you craving for more.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="boxe" >
                <span style="    font-weight: 300;">Second</span>
                <h4>Warm and Inviting Ambiance:</h4>
                <p>Our restaurant offers more than just great food; we provide an inviting atmosphere that makes every visit a memorable experience. Whether you're enjoying a romantic dinner or sharing a meal with friends, our cozy and welcoming 
                  setting creates the perfect backdrop for cherished moments and delightful conversations.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="boxe" >
                <span style="    font-weight: 300;">thirst</span>
                <h4> Unparalleled Customer Service</h4>
                <p> We believe that dining out is not just about the food; it's about the entire experience. Our attentive and friendly staff are dedicated to ensuring that your time with us is nothing short of exceptional. From the moment you step through our doors to the time you leave,
                   we strive to make you feel like a valued guest and create a lasting impression.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
    <!---======End section Why======-->


    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" >
  
          <div class="section-title">
            <h2>Menu</h2>
            <p> Our Menu</p>
          </div>
  
          <div class="row" >
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-starters">Plats</li>
                <li data-filter=".filter-salads">Salads</li>
                
              </ul>
            </div>
          </div>
  
          <div class="row menu-container" >
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Plats Coucous</a><span>10Dt</span>
              </div>
              <div class="menu-ingredients">
                Contenu de ce plats
              </div>
            </div>
  
            
  
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/cake.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Plats Spagutee</a><span>8Dt</span>
              </div>
              <div class="menu-ingredients">
                Contenu de ce plats
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Salade Vert</a><span>2Dt</span>
              </div>
              <div class="menu-ingredients">
                Contenu
              </div>
            </div>
  
          
            <div class="col-lg-6 menu-item filter-starters">
              <img src="assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">Plats Poissons</a><span>15Dt</span>
              </div>
              <div class="menu-ingredients">
                Contenu
              </div>
            </div>
  
            <div class="col-lg-6 menu-item filter-salads">
              <img src="assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">SalaDE ...</a><span>3Dt</span>
              </div>
              <div class="menu-ingredients">
                Contenu
              </div>
            </div>
  
           
  
            
  
          </div>
  
        </div>
      </section>
      <!--======================= End Menu Section=========== -->



       <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
        <div class="container">
  
          <div class="section-title">
            <h2>Reservation</h2>
            <p>Book a Table</p>
          </div>
  
          <form action="forms/book-a-table.php" class="php-email-form">
            <div class="row">
              <div class="col-lg-4 col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"  data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6 form-group mt-3">
                <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            
            <div class="text-center"><button type="submit">Book a Table</button></div>
          </form>
  
        </div>
      </section>
      <!-- End Book A Table Section -->
      <!----=========================Pictures For This Res=========-->
       <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

        <div class="container" >
          <div class="section-title">
            <h2>Gallery</h2>
            <p >Some photos from Our Restaurant</p>
          </div>
        </div>
  
        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-0">
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">
                  <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                  <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox" >
                  <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="gallery-item">
                <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox" >
                  <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
  
  
  
          </div>
  
        </div>
      </section>
      <!-- End Gallery Section -->
  
      <!-----Contact Section-->
      <div id="contact" class="container-fluid">
        <h1 class="section-title ">
            <p>Contact Address</p></h1>
        <hr>
         <div class="row">
          <iframe src="https://maps.google.com/maps?q=el%20khlel%20medenine&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"  width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
            <div class="row text-center">
              <div class="col-3 box1 pt-4">
                <a href="tel:+123456789"><i class="fas fa-phone fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                <p class="d-none d-lg-block d-xl-block">(+216) 28 217 205</p></a>
              </div>
              <div class="col-3 box2 pt-4">
                <a href=""><i class="fas fa-home fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                <p class="d-none d-lg-block d-xl-block">Medenine, 4100, Rue Djerba </p></a>
              </div>
              <div class="col-3 box3 pt-4">
                <a href="mailto:test@test.com"><i class="fas fa-envelope fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                <p class="d-none d-lg-block d-xl-block">Gmail@com</p></a>
              </div>
              <div class="col-3 box3 pt-4">
                 <a href=""> <i class="fas bi-share fa-3x"></i>
                
                    <h3 class="d-none d-lg-block d-xl-block">Opening Hours</h3>
                    <p class="d-none d-lg-block d-xl-block">Mon-Sat: 11AM - 23PM;
                      Sunday: Closed </p></a>
                   
                 
              </div>
            </div>
        </div>
        
        
       





























































</main>